; game.haml
; 6/29/2013 jichi
; @param  title  unicode
; @param  game  dataman.GameInfo
; @param  tr  sktr.tr_
; @param  i18n  i18n
; @param  rc  rc
; @param  py  py
; @param  jlp  MeCabManager
; @param  settings  Settings
; @param  mainland  bool
; @param  onlne  bool
; @param  proxy  proxy.ProxyManager
; @param  cache  cacheman.Cacher
;!!! 5

%html(lang="ja")
  %head
    -for it in 'bootstrap3.css', 'font-awesome4.css', 'bootstrap.switch.css', 'dragdealer.css', 'game.css'
      %link(rel="stylesheet",href="#{rc.cdn_url(it)}")
    -if game.getchu and (game.getchu.hasDescriptions() or game.getchu.review)
      %link(rel="stylesheet",href="#{rc.cdn_url('getchu.css')}")
    -elif game.amazon and game.amazon.hasDescriptions()
      %link(rel="stylesheet",href="#{rc.cdn_url('amazon.css')}")
    -if game and game.gyutto and game.gyutto.review
      %link(rel="stylesheet",href="#{rc.cdn_url('gyutto.css')}")
    -if game and game.dlsite and game.dlsite.review
      %link(rel="stylesheet",href="#{rc.cdn_url('dlsite.css')}")
    -if game and game.dmmItem and game.dmmItem.review
      %link(rel="stylesheet",href="#{rc.cdn_url('dmm.css')}")
    -if game and game.digiket and game.digiket.review
      %link(rel="stylesheet",href="#{rc.cdn_url('digiket.css')}")

    :css
      body {
        background-repeat: repeat;
        background-image: url("#{rc.image_url('background').toString()}");
      }

    ;-if mainland
    ;  :javascript
    ;    window.MAINLAND = true;
    ;-else
    ;  :javascript
    ;    window.MAINLAND = false;

  -if not game
    %body
      -if title
        %center(style="margin-top:100px"): %b.ja: #{'「' + title + '」'|e}
      .blocker: #{tr('Empty') + ' ><'}
  -else
    -set GG_Q = 'https://www.google.com/?#hl=ja&safe=off&q='
    %body
      #toolbar
        #zoomSlider.dragdealer.rounded.vertical
          .handle.red(title="#{tr('Zoom')}"): 拡大
        .btn.btn-default.btn-block.btn-xs.btn-refresh(title="#{tr('Refresh')}")
          %i.fa.fa-refresh
        .btn.btn-default.btn-block.btn-xs.btn-top(title="#{tr('Scroll to top')}")
          %i.fa.fa-chevron-up
        .btn.btn-default.btn-block.btn-xs.btn-bottom(title="#{tr('Scroll to bottom')}")
          %i.fa.fa-chevron-down

      .game.portal(data-id="#{game.itemId}")
        .cover
          -if game.image
            %a(href="#{game.imageUrl}",title="表紙")
              %img.cover.zoom.zoom-cover.img-rounded(src="#{game.imageUrl}")
          -else
            .text-danger 表紙: (#{tr('unknown')})
        .header
          .title
            %a.tts.cursor-pointer(title="#{tr('TTS')}",data-text="#{game.title}")
              %span.fa.fa-volume-down.icon-margin
            %a(href="#{GG_Q}#{game.title}",title="#{tr('Google')}") #{game.title}
          -if game.romajiTitle
            .romaji
              %a(href="#{GG_Q}#{game.romajiTitle}",title="#{tr('Google')}") #{game.romajiTitle}
          -if game.itemId
            %button.btn.btn-default.btn-xs.btn-dl-img(title="画像"")
              %i.fa.fa-save
              画像
            -if online and game.hasVideos()
              %button.btn.btn-default.btn-xs.btn-dl-yt(title="YouTube動画")
                %i.fa.fa-download
                動画
        %hr
        .content
          %section.info
            .title
              .title-content #{tr('Game Information')}
            .body.form-horizontal
              -if game.date
                .row.date
                  %label.control-label.col-xs-2 #{tr('Release')}
                  .form-control-static.col-xs-10 #{i18n.timestamp2date(game.date)}
              -if game.event
                .row.comike
                  %label.control-label.col-xs-2 #{tr('Comiket')}
                  .form-control-static.col-xs-10 #{game.event}
              -if game.price
                .row.price
                  %label.control-label.col-xs-2 #{tr('Price')}
                  .form-control-static.col-xs-10 ￥#{game.price}
              .row.type
                -set typeName = '乙女' if game.otome else '抜き' if game.okazu else '純愛'
                %label.control-label.col-xs-2 #{tr('Type')}
                .form-control-static.col-xs-10
                  #{typeName}
                  %a.tts(title="#{tr('TTS')}",data-text="#{typeName}")
                    %span.fa.fa-volume-down.icon-margin
              -if game.series
                .row.series
                  %label.control-label.col-xs-2 #{tr('Series')}
                  .form-control-static.col-xs-10
                    #{game.series}
                    %a.tts(title="#{tr('TTS')}",data-text="#{game.series}")
                      %span.fa.fa-volume-down.icon-margin
              -if game.brand
                .row.brand
                  %label.control-label.col-xs-2 #{tr('Brand')}
                  .form-control-static.col-xs-10
                    #{game.brand}
                    %a.tts(title="#{tr('TTS')}",data-text="#{game.brand}")
                      %span.fa.fa-volume-down.icon-margin
              -if not game.ecchi
                .row.genre
                  %label.control-label.col-xs-2 #{tr('Genre')}
                  .form-control-static.col-xs-10
                    %span.text-danger(title="Hシーンはありません") 一般作品
                    %a.tts(title="#{tr('TTS')}",data-text="一般作品、Hシーンはありません")
                      %span.fa.fa-volume-down.icon-margin
              -if game.fileSize
                .row.fileSie
                  %label.control-label.col-xs-2 #{tr('File size')}
                  .form-control-static.col-xs-10 #{game.fileSizeString}
              -if game.slogan
                .row.slogan
                  %label.control-label.col-xs-2 #{tr('Slogan')}
                  .form-control-static.col-xs-10
                    #{game.slogan}
                    %a.tts(title="#{tr('TTS')}",data-text="#{game.slogan}")
                      %span.fa.fa-volume-down.icon-margin
              -if game.artists
                .row.artist
                  %label.control-label.col-xs-2 原画
                  .form-control-static.col-xs-10
                    #{' '.join(game.artists)}
                    %a.tts(title="#{tr('TTS')}",data-text="#{'、'.join(game.artists)}")
                      %span.fa.fa-volume-down.icon-margin
              -if game.sdartists
                .row.artist
                  %label.control-label.col-xs-2 SD原画
                  .form-control-static.col-xs-10
                    #{' '.join(game.sdartists)}
                    %a.tts(title="#{tr('TTS')}",data-text="#{'、'.join(game.sdartists)}")
                      %span.fa.fa-volume-down.icon-margin
              -if game.writers
                .row.artist
                  %label.control-label.col-xs-2 シナリオ
                  .form-control-static.col-xs-10
                    #{' '.join(game.writers)}
                    %a.tts(title="#{tr('TTS')}",data-text="#{'、'.join(game.writers)}")
                      %span.fa.fa-volume-down.icon-margin
              -if game.musicians
                .row.artist
                  %label.control-label.col-xs-2 音楽
                  .form-control-static.col-xs-10
                    #{' '.join(game.musicians)}
                    %a.tts(title="#{tr('TTS')}",data-text="#{'、'.join(game.musicians)}")
                      %span.fa.fa-volume-down.icon-margin
              .row.links
                %label.control-label.col-xs-2 #{tr('Links')}
                .form-control-static.col-xs-10
                  -if game.getchu
                    %a(href="#{game.getchu.url}",title="#{game.getchu.url}") Getchu
                  -if game.gyutto
                    -set url = ('http://gyutto.me/i/item%s' if game.otome else 'http://gyutto.com/i/item%s') % game.gyutto.key
                    %a(href="#{url}",title="#{url}") Gyutto
                  -if game.digiket
                    %a(href="#{game.digiket.url}",title="#{game.digiket.url}") DiGiket
                  -if game.dlsite
                    %a(href="#{game.dlsite.url}",title="#{game.dlsite.url}") DLsite
                  -if game.dmm
                    %a(href="#{game.dmm.url}",title="#{game.dmm.url}") DMM
                  -if game.amazon
                    %a(href="#{game.amazon.url}",title="#{game.amazon.url}") Amazon
                  -if game.trailers
                    %a(href="#{game.trailers.url}",title="#{game.trailers.url}") Trailers
                  -if game.tokutenUrl
                    %a(href="#{game.tokutenUrl}",title="#{game.tokutenUrl}") 特典
                  -if game.holyseal
                    %a(href="#{game.holyseal.url}",title="#{game.holyseal.url}") 聖封
                  -if game.scape
                    %a(href="#{game.scape.url}",title="#{game.scape.url}") 批評空間
              -if game.homepage
                .row.homepage
                  %label.control-label.col-xs-2 #{tr('Homepage')}
                  .form-control-static.col-xs-10
                    %a(href="#{game.homepage}",title="#{game.homepage}") #{game.homepage}
              -if game.scape.trialUrl
                -set url = game.scape.trialUrl
                .row.trial
                  %label.control-label.col-xs-2 体験版
                  .form-control-static.col-xs-10
                    %a(href="#{url}",title="#{url}") #{url}
                    -if game.scape.trialH
                      %span.text-danger(title="Hなシーンがあります") #{" (Hあり)"}
                    -else
                      %span.text-minor(title="Hなシーンがありません") #{" (H無し)"}
              -if game.wiki
                -set url = 'http://ja.wikipedia.org/wiki/' + game.wiki
                .row.wiki
                  %label.control-label.col-xs-2 #{tr('Wikipedia')}
                  .form-control-static.col-xs-10
                    %a(href="#{url}",title="#{url}") #{url}
          -if game.hasBannerImages()
            %section.banner
              -for it in game.iterBannerImageUrls()
                -if game.homepage
                  %a(href="#{homepage}",title="#{tr('Homepage')}")
                    %img(src="#{it}")
                -else
                  %a(href="#{GG_Q}#{title}",title="#{tr('Google')}")
                    %img(src="#{it}")
          -if game.hasTwitterWidgets()
            %hr
            %section.twitter
              .title
                .title-content.col-xs-2 Twitter
                .switch-group
                  %input.switch(type="checkbox",data-size="small",data-on-text="#{tr('Show')}",data-off-text="#{tr('Hide')}")
              %center.widgets
                ;-for it in game.iterTwitterWidgets()
                ;  %a.twitter-timeline(height="400",href="https://twitter.com/twitterapi",data-widget-id="#{it}",data-chrome="nofooter noborders transparent")
                ;%script(src="#{rc.cdn_url('twitter.widgets')}")
          -if game.videos
            %hr
            %section.youtube
              .title
                .title-content.col-xs-2 YouTube
                .switch-group
                  %input.switch(type="checkbox",data-size="small",data-on-text="#{tr('Show')}",data-off-text="#{tr('Hide')}")
              .videos
          -if game.hasSampleImages()
            %hr
            %section.cg
              .title
                .title-content.col-xs-2 #{tr('Images')}
                .switch-group
                  %input.switch(type="checkbox",data-size="small",data-on-text="#{tr('Show')}",data-off-text="#{tr('Hide')}")
              .images
                ;-for i,it in py.enumerate(game.iterSampleImageUrls())
                ;  %a(href="#{it}",title="CG #{'#'}#{i+1}")
                ;    %img.img-rounded(src="#{it}")
          -if game.hasCharacters()
            %hr
            %section.chara
              .title
                .title-content.col-xs-2 #{tr('Characters')}
                .switch-group
                  %input.switch(type="checkbox",data-size="small",data-on-text="#{tr('Show')}",data-off-text="#{tr('Hide')}")
              .characters

;          -if true
;            %hr
;            %section.stats
;              .title
;                .title-content = tr('Rating')
;              .body.form-horizontal
;                .row.score-row(title="#{tr('Serious')}")
;                  %label.control-label.col-xs-2 #{tr('Serious')}
;                  .form-control-static.col-xs-10
;                    %span.rating.rating-overall
;                    %span.score-label(data-type="overall")
;                .row.score-row(title="#{tr('Ecchi')}")
;                  %label.control-label.col-xs-2 #{tr('Ecchi')}
;                  .form-control-static.col-xs-10
;                    %span.rating.rating-ecchi
;                    %span.score-label(data-type="ecchi")
;                .row.score-row(title="#{tr('Easy to understand for Japanese learners')}")
;                  %label.control-label.col-xs-2 #{tr('Easy')}
;                  .form-control-static.col-xs-10
;                    %span.rating.rating-easy
;                    %span.score-label(data-type="easy")
;                -if game.scapeScore and game.links and game.links.scape
;                  .row
;                    %label.control-label.col-xs-2 批評空間
;                    .form-control-static.col-xs-10
;                      %a(href="#{game.scape.url}",title="#{game.scape.url}")
;                        #{scapeScore}&times;#{scapeCount}
;                -if game.playCount
;                  .row
;                    %label.control-label.col-xs-2 #{tr('Play count')}
;                    .form-control-static.col-xs-10
;                      %span.count #{game.playCount}
;                -if game.subtitleCount
;                  .row
;                    %label.control-label.col-xs-2 #{tr('Subtitle count')}
;                    .form-control-static.col-xs-10
;                      %span.count #{game.subtitleCount}
;              %button.btn-review.btn.btn-primary.dropdown-toggle.btn-sm(type="button")
;                %span.fa.fa-star #{tr('Review')}
;          -if game.subs
;            %hr
;            %section.subtitle
;              .title
;                .title-content = tr('Subtitle Contributors')
;              .body
;                -for it in game.subs
;                  .item
;                    -if it.userAvatar
;                      %a.user(href="/user/#{it.userName}",title="@#{it.userName}")
;                        %img.img-circle.avatar(src="//media.getchute.com/media/#{it.userAvatar}/128x128")
;                    .header
;                      %a.user(href="/user/#{it.userName}",target="_blank") @#{it.userName}
;                    .footer #{it.count} / #{it.lang[:2] or 'en'}
;          -if game.file
;            %hr
;            %section.file
;              .title
;                .title-content #{tr('Text Settings')}
;              .body.form-horizontal
;                -if game.file.encoding
;                  .row.encoding
;                    %label.control-label.col-xs-2 #{tr('Encoding')}
;                    .form-control-static.col-xs-10 #{game.file.encoding.toUpperCase()}
;                -if game.file.threads
;                  -if game.file.threads.scene
;                    .row.thread
;                      %label.control-label.col-xs-2 #{tr('Dialogue')}
;                      .form-control-static.col-xs-10
;                        #{tr(file.threads.scene.name)}
;                        #{file.threads.scene.sig.toString(16)}
;                  -if game.file.threads.name
;                    .row.thread
;                      %label.control-label.col-xs-2 #{tr('Character')}
;                      .form-control-static.col-xs-10
;                        #{tr(game.file.threads.name.name)}
;                        #{game.file.threads.name.sig.toString(16)}
;                .row.hcode
;                  %label.control-label.col-xs-2 #{tr('H-code')}
;                  .form-control-static.col-xs-10
;                    -if game.file.hook
;                      #{file.hook.text}
;                      -if file.hook.locked
;                        %b.text-info #{' (' + tr('Locked') + ')'}
;                        %i.text-muted.text-xs #{' -- ' + tr('This h-code is definite correct and not allowed to change')}
;                    -else
;                      %span.text-muted #{tr('Not specified')}

      ; Scripts
      -for it in \
        'jquery', 'jquery.imagesloaded', \
        'bootstrap.switch', 'dragdealer', \
        'haml', 'masonry', \
        'ruby', 'widgets', 'game'
        %script(src="#{rc.cdn_url(it)}")

      -if not mainland and game and game.hasTwitterWidgets()
        %script(src="#{rc.cdn_url('twitter.widgets')}")

      -if game and game.image
        :javascript
          $(function() {
            var url = "#{game.imageUrl}";
            var img = new Image;
            img.onload = function() {
              document.body.style.backgroundImage = 'url("' + url + '")';
              document.body.style.backgroundSize = 'cover';
              document.body.style.backgroundAttachment = 'fixed';
              // TODO: Bind onresize to change background image to half screen
              //document.body.style.backgroundSize = '50%, auto';
            }
            img.src = url
          });

; EOF
