; credits.haml
; 1/23/2013 jichi
; No parameters.
;!!! 5
%html
  %head
    :css
      /* Bootstrap link */
      a {
        color: #0088cc;
        text-decoration: none;
      }
      a:hover,
      a:focus {
        color: #005580;
        text-decoration: underline;
      }
  %body
    %h3 Credits and Thanks
    %p
      This page is for remembering people who contributed a lot,
      or whose suggestions significantly changed this Visual Novel project.
    %p
      -set url = "http://code.google.com/p/interactive-text-hooker"
      %a(href="#{url}",title="#{url}") ITH
      THE shoulder where VNR is standing on.
    %p
      -set url = "http://visualnovelaer.fuwanovel.org"
      %a(href="#{url}",title="#{url}") @Aaeru#{'('}fuwanovel.org#{')'}
      Almost everything since the very beginning!
    %p
      -set url = "http://sakuradite.com/user/djz020815"
      %a(href="#{url}",title="#{url}") @djz020815 (Chinese)
      Extensive contribution to the JBeijing and Shared Dictionary to enhance Chinese translation quality.
    %p
      -set url = "http://sakuradite.com/user/goodboyye"
      %a(href="#{url}",title="#{url}") @goodboyye (Chinese)
      First and extensive English tutorials to introduce VNR to Chinese users.
    %p
      -set url = "http://www.hongfire.com/forum/member.php/1179411-CaoNiMaGeBi"
      %a(href="#{url}",title="#{url}") @CaoNiMaGeBi (Chinese)
      JBeijing, Dr.eye, and several ITH engines.
    %p
      -set url = "http://sakuradite.com/user/riz"
      %a(href="#{url}",title="#{url}") @riz (English)
      Extensive contribution to the Translation Scripts and Shared Dictionary to enhance English translation quality.
    %p
      -set url = "http://sakimichi.wordpress.com"
      %a(href="#{url}",title="#{url}") @Sakimichi (English)
      First and extensive English tutorials that introduced VNR to the world.
    %p
      -set url = "http://www.hongfire.com/forum/member.php/364988-DinX"
      %a(href="#{url}",title="#{url}") @DinX (English)
      Text-to-speech feature, and improvement to English machine translation.
    %p
      -set url = "http://www.hongfire.com/forum/member.php/361226-spoxxy"
      %a(href="#{url}",title="#{url}") @spoxxy (English)
      Floating text box and the full screen feature.
    %p
      -set url = "http://www.hongfire.com/forum/member.php/179325-0xCCBA696"
      %a(href="#{url}",title="#{url}") @0xCCBA696 (English)
      EPWING support.
    %p
      -set url = "http://bbs.3dmgame.com/space-uid-1202281.html"
      %a(href="#{url}",title="#{url}") @dg8806 (Chinese)
      Microsoft Japanese IME.
    %p
      -set url = "http://sakuradite.com/user/otromonde"
      %a(href="#{url}",title="#{url}") @otromonde (Korean)
      TransCAT support and Korean translation.
    %p
      -set url = "http://blog.naver.com/foolmaker"
      %a(href="#{url}",title="#{url}") @foolmaker (Korean)
      ezTrans support.
    %p
      -set url = "http://sakuradite.com/user/Reality"
      %a(href="#{url}",title="#{url}") @Reality (Korean)
      Korean mapping of Furigana to Hangul.
    %p
      -set url = "http://sakuradite.com/user/1dat1"
      %a(href="#{url}",title="#{url}") @1dat1 (Russian)
      Translation support for //:translate.ru and //:yarp-online.ru.

; EOF
