; credits.haml
; 1/23/2013 jichi
; No parameters.
;!!! 5
%html
  %head
    :css
      /* Bootstrap link */
      a {
        color: #0088cc;
        text-decoration: none;
      }
      a:hover,
      a:focus {
        color: #005580;
        text-decoration: underline;
      }
  %body
    %h3 Credits and Thanks
    %p
      This page is for remembering people who contributed a lot,
      or whose suggestions significantly changed this Visual Novel project.
    %p
      -set url = "http://code.google.com/p/interactive-text-hooker"
      %a(href="#{url}",title="#{url}") ITH
      THE shoulder where VNR is standing on.
    %p
      -set url = "http://visualnovelaer.fuwanovel.org"
      %a(href="#{url}",title="#{url}") @Aaeru#{'('}fuwanovel.org#{')'}
      Almost everything since the very beginning!
    %p
      -set url = "http://vnsociety.wordpress.com"
      %a(href="#{url}",title="#{url}") @Zky
      Suggestions for subtitle-sharing mechanism.
    %p
      -set url = "http://goodboyye.blogspot.com"
      %a(href="#{url}",title="#{url}") @goodboyye
      对使用中文的同学的各种帮助！
    %p
      -set url = "http://www.hongfire.com/forum/member.php/1179411-CaoNiMaGeBi"
      %a(href="#{url}",title="#{url}") @CaoNiMaGeBi
      -set url = "http://www.baidu.com/p/杀死妹妹"
      (
      %a(href="#{url}",title="#{url}") @杀死妹妹
      )
      JBeijing, Dr.eye, and several ITH engines.
    %p
      -set url = "http://www.hongfire.com/forum/member.php/361226-spoxxy"
      %a(href="#{url}",title="#{url}") @spoxxy
      Floating text box and the full screen feature.
    %p
      -set url = "http://sakimichi.wordpress.com"
      %a(href="#{url}",title="#{url}") @Sakimichi
      First and extensive English tutorials that introduced VNR to the world.
    %p
      -set url = "http://www.hongfire.com/forum/member.php/364988-DinX"
      %a(href="#{url}",title="#{url}") @DinX
      Text-to-speech feature, and improvement to English machine translation.
    %p
      -set url = "http://www.hongfire.com/forum/member.php/179325-0xCCBA696"
      %a(href="#{url}",title="#{url}") @0xCCBA696
      EPWING support.
    %p
      -set url = "http://bbs.3dmgame.com/space-uid-1202281.html"
      %a(href="#{url}",title="#{url}") @dg8806
      Microsoft Japanese IME.
    %p
      -set url = "http://blog.naver.com/foolmaker"
      %a(href="#{url}",title="#{url}") @foolmaker
      ezTrans support.
    %p
      -set url = "https://github.com/otromonde"
      %a(href="#{url}",title="#{url}") @otromonde
      Korean translation.
    %p
      -set url = "http://blog.sina.com.cn/u/2966912122"
      %a(href="#{url}",title="#{url}") @djz020815
      機械翻訳の改善。
    %p
      -set url = "http://www.baidu.com/p/好大个的鸭梨"
      %a(href="#{url}",title="#{url}") @好大個的鴨梨
      J北京辞書。
    %p
      -set url = "http://www.baidu.com/p/诸葛秋"
      %a(href="#{url}",title="#{url}") @諸葛秋
      J北京辞書。

; EOF
