; topicsview.haml
; 8/29/2014 jichi
; @param  host  str
; @param  topicId  long
; @param  userName  string
; @param  userPassword  string
; @param  title  unicode
; @param  rc  rc
; @param  tr  sktr.tr_
;!!! 5

%html(lang="ja")
  %head
    %title #{title}

    ; Stylesheets
    -for it in 'bootstrap3.css', 'font-awesome4.css', 'reader/topicsview.css'
      %link(rel="stylesheet",href="#{rc.cdn_url(it)}")

    :css
      body {
        background-image: url("#{rc.wallpaper_url()}");
        background-size: cover;
      }

  %body
    .topic.portal(data-id="#{topicId}")
      .posts
      .footer
        %a.btn.btn-link.btn-more(role="button")
          #{tr('More')}
    #spin

    :javascript
      window.HOST = "#{host}";
      window.TOPIC_ID = #{topicId};
      window.USER_NAME = "#{userName}";
      window.USER_PASSWORD = "#{userPassword}";

    -for it in \
        'jquery', 'jquery.ui', \
        'bootstrap.growl', \
        'underscore', \
        'spin', 'jquery.spin', \
        'bbcode', 'haml', 'moment', \
        'libs/linkify', \
        'share/growl', 'share/rest', 'share/util', \
        'reader/topicsview'
      %script(src="#{rc.cdn_url(it)}")

; EOF
