; start.haml
; 3/21/2014 jichi
; @param  tr  i18n.tr
; @param  rc
!!! 5
%html
  %head
    %title #{tr('Start')}
    :css
      /* Bootstrap */
      a {
        color: #428bca;
        text-decoration: none;
      }
      a:hover,
      a:focus {
        color: #2a6496;
        text-decoration: underline;
      }
      a:focus {
        outline: thin dotted;
        outline: 5px auto -webkit-focus-ring-color;
        outline-offset: -2px;
      }
      /* Global */
      body {
        /*background-color: #ececec;*/
        background-repeat: repeat;
        background-image: url("#{rc.image_url('background')}");
        color: #bababa;
        font: 1em arial,helvetica,clean,sans-serif;
        text-align: center;

        /* See: http://www.w3.org/Style/Examples/007/text-shadow */
        text-shadow: 1px 1px white,-1px -1px #555;
      }
      .site {
        margin-bottom: 15px;
      }
      .col {
        width: 33%;
        display: inline-block;
      }
      .col-1 { float: left }
      .col-2 { text-align: center }
      .col-3 { float: right }
  %body
    .container
      ; http://stackoverflow.com/questions/1964297/split-div-into-2-columns-using-css
      %br(style="clear:both")
      .col.col-1
        %section
          %h2 ウィキペディア
          -for url,name in \
              ("ja.wikipedia.org/wiki/アダルトゲームメーカー一覧", "ゲームメーカー"), \
              ("ja.wikipedia.org/wiki/Category:テレビアニメ化されたアダルトゲーム", "アニメ化されたゲーム"), \
              ("ja.wikipedia.org/wiki/Category:各年のアダルトゲーム", "各年のゲーム一覧"), \
              ("ja.wikipedia.org/wiki/Category:未発売のアダルトゲーム", "未発売のゲーム"), \
              ("ja.wikipedia.org/wiki/Category:2014年のアダルトゲーム", "2014年のゲーム"), \
              ("ja.wikipedia.org/wiki/Category:2013年のアダルトゲーム", "2013年のゲーム"), \
              ("ja.wikipedia.org/wiki/Category:2012年のアダルトゲーム", "2012年のゲーム"), \
              ("ja.wikipedia.org/wiki/Category:2011年のアダルトゲーム", "2011年のゲーム"),
            %div(class="site")
              %a(href="http://#{url}",title="#{url}") #{name}
      .col.col-2
        %section
          %h2 批評空間
          -for url,name in \
              ("erogamescape.dyndns.org/~ap2/ero/toukei_kaiseki", "エロゲ批評空間"),
            %div(class="site")
              %a(href="http://#{url}",title="#{url}") #{name}
        %section
          %h2 通販サイト
          -for url,name in \
              ("www.getchu.com/top.html", "Getchu"), \
              ("www.dlsite.com", "DLsite"), \
              ("www.dmm.co.jp/top", "DMM"),
            %div(class="site")
              %a(href="http://#{url}",title="#{url}") #{name}
        %section
          %h2 ブランドHP
          -for url,name in \
              ("www.alicesoft.com/main.html", "アリスソフト"), \
              ("www.minori.ph/index_02.html", "minori")
            %div(class="site")
              %a(href="http://#{url}",title="#{url}") #{name}
      .col.col-3
        %section
          %h2 あかべぇそふと
          -for url,name in \
              ("www.akabeesoft2.com", "あかべぇそふとつぅ"), \
              ("www.akabeesoft2-try.com/top/top.php", "あかべぇそふとつぅTRY"), \
              ("www.akabeesoft3.com/top.html", "あかべぇそふとすりぃ"), \
              ("www.applique-soft.com/main.html", "あっぷりけ"), \
              ("www.tigresoft.com/top.htm", "てぃ～ぐる"), \
              ("www.effordomsoft.com", "エフォルダムソフト"), \
              ("www.akatsukiworks.com/top.html", "暁WORKS"), \
              ("www.collaborations2005.com/index02.html", "CollaborationS"), \
              ("www.cosmiccute.com/top.html", "COSMIC CUTE"), \
              ("www.hibiki-site.com/top.html", "hibiki"), \
              ("www.nostalgicchord.com/top.html", "NostalgicChord"),
            %div(class="site")
              %a(href="http://#{url}",title="#{url}") #{name}

; EOF
