; start.haml
; 3/21/2014 jichi
; Parameters: tr, rc
;!!! 5
%html
  %head
    %title #{tr('Start')}
    :css
      /* Bootstrap */
      a {
        color: #428bca;
        text-decoration: none;
      }
      a:hover,
      a:focus {
        color: #2a6496;
        text-decoration: underline;
      }
      a:focus {
        outline: thin dotted;
        outline: 5px auto -webkit-focus-ring-color;
        outline-offset: -2px;
      }
      /* Global */
      body {
        /*background-color: #ececec;*/
        background-repeat: repeat;
        background-image: url("#{rc.image_url('background')}");
        color: #bababa;
        /*color: #cacaca;*/
        font: 1em arial,helvetica,clean,sans-serif;
        text-align: center;

        /* See: http://www.w3.org/Style/Examples/007/text-shadow */
        text-shadow: 1px 1px white,-1px -1px #555;
      }
      .site {
        margin-bottom: 15px;
      }
      .layout-left {
        width: 50%;
        float: left;
      }
      .layout-right {
        width: 50%;
        float: right;
      }
  %body
    .layout-content
      ; http://stackoverflow.com/questions/1964297/split-div-into-2-columns-using-css
      %br(style="clear:both")
      .layout-left
        %section
          %h2 批評空間
          -for url,name in \
              ("erogamescape.dyndns.org/~ap2/ero/toukei_kaiseki", "エロゲ批評空間"),
            %div(class="site")
              %a(href="http://#{url}",title="#{url}") #{name}
        %section
          %h2 通販サイト
          -for url,name in \
              ("www.getchu.com/top.html", "Getchu"), \
              ("www.dlsite.com", "DLsite"), \
              ("www.dmm.co.jp/top", "DMM"),
            %div(class="site")
              %a(href="http://#{url}",title="#{url}") #{name}
        %section
          %h2 ブランドHP
          -for url,name in \
              ("www.alicesoft.com", "アリスソフト"), \
              ("www.minori.ph", "minori")
            %div(class="site")
              %a(href="http://#{url}",title="#{url}") #{name}
      .layout-right
        %section
          %h2 あかべぇそふと
          -for url,name in \
              ("www.akabeesoft3.com", "あかべぇそふとすりぃ"), \
              ("www.akabeesoft2.com", "あかべぇそふとつぅ"), \
              ("www.akabeesoft2-try.com", "あかべぇそふとつぅTRY"), \
              ("www.applique-soft.com", "あっぷりけ"), \
              ("www.effordomsoft.com", "エフォルダムソフト"), \
              ("www.akatsukiworks.com", "暁WORKS"), \
              ("www.collaborations2005.com", "CollaborationS"), \
              ("www.hibiki-site.com", "hibiki"),
            %div(class="site")
              %a(href="http://#{url}",title="#{url}") #{name}

; EOF
